.navbar .dropdown.show .dropdown-menu, .navbar .dropdown .dropdown-menu {
    height: auto;
}

.main-section{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
/*==============================BOTONES BARRA DE NAVEGACION*/
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    background-color: #12aee1;
    color: #FFFFFF;
}

.nav-link{
    border-width: 2px;
    border-color: white;
    border-style: solid;
}
.navbar .navbar-nav .nav-item.active .nav-link:not(.btn), .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus, .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover, .navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
    border-color: rgb(200, 200, 200);
    border-radius: 0.1875rem;
}

.nav-link.active{
    background-color: rgb(18, 174, 225);
    color: white !important;
}


.img-fade {
    overflow: hidden;
    margin-bottom: 15px;
}

.img-fade img {
    transition: 0.3s ease-in-out;
}

.img-fade:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#mobile-nav ul li a{
    color:white;
}

/*===============Ajuste de formulario login=========*/
.card-login .form {
    min-height: 300px;
}

/*======================================================================Colocar el pie abajo siempre*/


/*==============================================COLORES card header==========*/
.card .card-header-primary, .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
    background: linear-gradient(60deg, #414447, #12aee1);
}
.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
    background: linear-gradient(60deg, #414447, #12aee1);
}
/*===================================botones====*/
.btn.btn-vzero {
    color: #fff;
    background-color: #12aee1;
    border-color: #12aee1;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}

/*=======================================INSERTAR IMAGENES CON SUMMERNOTE (no se veia el boton de subir)======*/
.form-group input[type=file] {
    opacity: 1;
    position: unset;
}